.slot-landing {
    display: flex;
    height: 100vh;
}

.slot-landing-view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    background-color: $light-color;
    position: relative;
}

.slot-hero-container {
    position: relative;
    max-width: 25%;
}

.slot-hero-image {
    display: block;
    max-width: 100%;
}

.slot-hero-title {
    font-family: 'Oleo Script', cursive;
    color: $dark-color;
    font-size: 10em;
    font-weight: normal;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slot-hero-button-wrap {
    position: relative;
    border-right: 1px solid $highlight-color;
    border-bottom: 1px solid $highlight-color;
    height: 3em;
    width: 50%;
}

.slot-hero-button {
    display: inline-block;
    padding: .8em;
    background-color: $light-color;
    color: $highlight-color;
    position: absolute;
    top: 1.5em;
    right: 100%;
    width: 10em;
    border: 1px solid $highlight-color;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.slot-hero-button:hover {
    background-color: $highlight-color;
    color: $light-color;
}

.slot-landing-modal {
    position: absolute;
}